body {
  font-family: Arial, sans-serif;
  background-image: url("/image/fondo1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-color: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #E2E8F0;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(255,255,255,1);
  text-align: center;
  max-width: 520px; /* Reduce este número para hacerlo más pequeño */
  width: 100%;       /* Asegura que sea responsivo en celulares */
}

h1 {
  font-family: 'Georgia', serif; /* Fuente exclusiva para el título */
  color: black; /* Color específico para el título */
  font-weight: bold; /*Aplica negrita */
}

/* Nuevo contenedor para cada par (label + input) */
.form-group {
  width: 250px;        /* Mismo ancho que tienen tus inputs */
  margin: 0 auto 15px; /* Centra el bloque completo y da espacio abajo */
  text-align: left;    /* Rompe el centrado del contenedor principal */
}

label{
  font-family: 'Georgia', serif;
  color: black;
  font-weight: bold;
}

.envoltorio-input{
  position: relative;
}

input{
  width: 100%;
  padding: 10px 12px 10px 65px; /*arriba | derecha | abajo | izquierda*/
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.icon-inside{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  pointer-events: none;
}

.icon-inside i{
  font-size: 1.5rem;
}

.form-control{
    padding-left: 50px !important;
}

.btn {
  background-color: #0F4C81; /* Color azul de tu botón */
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold; 
  cursor: pointer;
  margin-top: 10px;
}
